<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Spotifymash</title>
</head>

<body>

  <div id="header">
    <h1><a href="/">Spotifymash</a></h1>
  </div>

  <div id="main">
    <h2>Who's more popular? Click to Choose.</h2>
    <p>Yo!</p>
  </div>
  <div id="footer">
    <!-- Footer will go here -->
  </div>


<!--   <div class="container">

    <h1>Spotifymash</h1>
    <form action="/" method="post">
      <button type="submit">Go!</button>
    </form>

    <% if((artist1Name !== null) && (artist2Name !== null)) { %>
      <p>Artist 1 is <%= artist1Name %> and has popularity on Spotify of <%= artist1Popularity %>%.</p>
      <p>Artist 2 is <%= artist2Name %> and has popularity on Spotify of <%= artist2Popularity %>%.</p>
      <p><%= resultText %></p>
    <% } %>

  </div> -->
</body>

</html>