<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Spotifymash</title>
</head>

<body>

  <div id="container">

    <div id="header">
      <img src="/img/logo.png" align="middle" alt="Decorative logo" style="float: left;">
      <img src="/img/reset.png" align="middle" alt="Reset scores" id="reset-scores" style="float: right;">
      <h1><a href="/">Spotifymash</a></h1>
    </div>

    <div class="body" id="main-body">
      <div>
        <h2 id="intro-heading">Who's more popular on Spotify?</h2>
        <h2 id="draw-heading" hidden="">It's a draw!</h2>
        <h2 id="correct-result-heading" hidden="">Correct, well done!</h2>
        <h2 id="incorrect-result-heading" hidden="">Wrong, better luck next time!</h2>
      </div>
      <div class="artist-div" id="artist-div-artist1" style="float: left;">
        <h2 class="artist-name"><%=artist1Name%></h2>
        <div class="artist-image-div" style="background-image: url(<%=artist1ImageUrl%>)" id="artist-image-div-artist1">&nbsp</div>
      </div>
      <div class="artist-div" id="artist-div-artist2" style="float: right;">
        <h2 class="artist-name"><%=artist2Name%></h2>
        <div class="artist-image-div" style="background-image: url(<%=artist2ImageUrl%>)" id="artist-image-div-artist2">&nbsp</div>
      </div>

      <div id="scoring-container-div">
        <div class="score-div" style="float: left;">
          <h2 class="scoring-div" id="score"></h2>
        </div>
        <div class="score-div" style="float: right;">
          <h2 class="scoring-div" id="streak"></h2>
        </div>
      </div>

      <div id="progress-bar-container">
        <div id="progress-bar">
        </div>
      </div>
    </div>

    <div class="body" id="about-body" hidden="">
      <h2>
        <p>A <a href="https://en.wikipedia.org/wiki/History_of_Facebook" target="_blank">Facemash</a>-style battle between two artists on <a href="https://www.spotify.com" target="_blank">Spotify</a>, ranked by their popularity as defined by the <a href="https://developer.spotify.com/documentation/web-api/" target="_blank">Spotify Web API</a>.</p>
        <a href="mailto: spotifymash@trwh.co.uk">spotifymash@trwh.co.uk</a><br>
        <a href="https://www.linkedin.com/in/trwh" target="_blank">linkedin.com/in/trwh</a><br>
        <a href="https://github.com/trwh/spotifymash" target="_blank">github.com/trwh/spotifymash</a><br>
        <p>Tim Harrison<br>MMXIX</p>
      </h2>
    </div>

    <div id="footer">
      <h2>
        <div id="about-div">About</div>
      </h2>
    </div>

  </div>

  <script type="text/javascript">
    var artist1Name = "<%=artist1Name%>";
    var artist1Popularity = <%=artist1Popularity%>;
    var artist2Name = "<%=artist2Name%>";
    var artist2Popularity = <%=artist2Popularity%>;
    var currentScore = 0;
    var currentStreak = 0;

    $(document).ready(function() {

      if (Cookies.get("spotifymashScore")) {
        currentScore = Cookies.get("spotifymashScore");
      } else {
        Cookies.set("spotifymashScore", 0, { expires: 31 });
      }

      if (Cookies.get("spotifymashStreak")) {
        currentStreak = Cookies.get("spotifymashStreak");
      } else {
        Cookies.set("spotifymashStreak", 0, { expires: 31 });
      }

      drawScoreAndStreak();
    });

    $(".artist-div").on("click", userVotes);

    function userVotes() {
      $(".artist-div").off("click");
      var artistIdClicked = $(this).attr("id");

      if (isDraw(artist1Popularity, artist2Popularity)) {
        correctGuess();
        $(".artist-div").css("background-color", "#1DB954");
        $("#intro-heading").attr("hidden", "");
        $("#draw-heading").removeAttr("hidden");
      } else {
        if (artist1Wins(artist1Popularity, artist2Popularity)) {
          if (artistIdClicked == "artist-div-artist1") {
            correctGuess();
            $("#artist-div-artist1").css("background-color", "#1DB954");
            $("#intro-heading").attr("hidden", "");
            $("#correct-result-heading").removeAttr("hidden");
          } else {
            incorrectGuess();
            $("#artist-div-artist2").css("background-color", "#CC0033");
            $("#intro-heading").attr("hidden", "");
            $("#incorrect-result-heading").removeAttr("hidden");
          }
        } else {
          if (artistIdClicked == "artist-div-artist2") {
            correctGuess();
            $("#artist-div-artist2").css("background-color", "#1DB954");
            $("#intro-heading").attr("hidden", "");
            $("#correct-result-heading").removeAttr("hidden");
          } else {
            incorrectGuess();
            $("#artist-div-artist1").css("background-color", "#CC0033");
            $("#intro-heading").attr("hidden", "");
            $("#incorrect-result-heading").removeAttr("hidden");
          }
        }
      }

      $("#artist-image-div-artist1").text(artist1Popularity);
      $("#artist-image-div-artist2").text(artist2Popularity);

      animateProgressBar();
      setTimeout(nextGame, 2000);
    }

    function isDraw(artist1Popularity, artist2Popularity) {
      return (artist1Popularity == artist2Popularity) ? true : false;
    }

    function artist1Wins(artist1Popularity, artist2Popularity) {
      return (artist1Popularity > artist2Popularity) ? true : false;
    }

    function correctGuess() {
      currentScore++;

      if (currentStreak < 0) {
      currentStreak = 1;
      } else {
        currentStreak++;
      }

      drawScoreAndStreak();

      Cookies.set("spotifymashScore", currentScore, { expires: 31 });
      Cookies.set("spotifymashStreak", currentStreak, { expires: 31 });
    }

    function incorrectGuess() {
      if (currentStreak > 0) {
      currentStreak = -1;
      } else {
        currentStreak--;
      }

      drawScoreAndStreak();

      Cookies.set("spotifymashStreak", currentStreak, { expires: 31 });
    }

    function drawScoreAndStreak() {
      $("#score").text("Score: " + currentScore);
      $("#streak").text("Streak: " + currentStreak);

      if (currentStreak > 0) {
        $("#streak").css("color", "#1DB954");
      } else if (currentStreak < 0) {
        $("#streak").css("color", "#CC0033");
      } else {
        $("#streak").css("color", "");
      }
    }

    $("#reset-scores").on("click", resetScores);

    function resetScores() {
      currentScore = 0;
      currentStreak = 0;

      drawScoreAndStreak();

      Cookies.remove("spotifymashScore");
      Cookies.remove("spotifymashStreak");
    }

    function nextGame() {
      location.reload();
    }

    function animateProgressBar() {
      var elem = document.getElementById("progress-bar");
      var width = 1;
      var id = setInterval(frame, 19.5);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
        } else {
          width++;
          elem.style.width = width + '%';
        }
      }
    }

    $("#about-div").on("click", displayAbout);

    function displayAbout() {
      if (!$("#main-body").attr("hidden")) {
        $("#main-body").attr("hidden", "");
        $("#about-div").text("Back");
        $("#about-body").removeAttr("hidden");
        $("#reset-scores").css("opacity", "0");
        $("#reset-scores").off("click");
      } else {
        $("#main-body").removeAttr("hidden");
        $("#about-div").text("About");
        $("#about-body").attr("hidden", "");
        $("#reset-scores").css("opacity", "");
        $("#reset-scores").on("click", resetScores);
      }
    }

  </script>

</body>

</html>