<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Spotifymash</title>
</head>

<body>

  <div id="container">

    <div id="header">
      <h1><a href="/">Spotifymash</a></h1>
    </div>

    <div id="body">
      <div>
        <h2 id="intro-heading">Who's more popular on Spotify?<br>Click to Choose.</h2>
        <h2 id="draw-heading" hidden="">It's a draw!<br><a href="/">Try another?</a></h2>
        <h2 id="correct-result-heading" hidden="">Correct, well done!<br><a href="/">Try another?</a></h2>
        <h2 id="incorrect-result-heading" hidden="">Wrong, better luck next time!<br><a href="/">Try another?</a></h2>
      </div>
      <div class="artist-div" id="artist-div-artist1" style="float: left; margin-right: 1vw">
        <h2 class="artist-name"><%=artist1Name%></h2>
        <div class="artist-image-div" style="background-image: url(<%=artist1ImageUrl%>)" id="artist-image-div-artist1" ></div>
      </div>
      <div class="artist-div" id="artist-div-artist2" style="float: right; margin-left: 1vw;">
        <h2 class="artist-name"><%=artist2Name%></h2>
        <div class="artist-image-div" style="background-image: url(<%=artist2ImageUrl%>)" id="artist-image-div-artist2"></div>
      </div>
    </div>

    <div id="footer">
      <h2>
        <a href="mailto: spotifymash@trwh.co.uk">spotifymash@trwh.co.uk</a><br>
        <a href="https://github.com/trwh/spotifymash" target="_blank">github.com/trwh/spotifymash</a><br>
        <a href="https://www.linkedin.com/in/trwh" target="_blank">linkedin.com/in/trwh</a><br>
    </div>

  </div>

  <script type="text/javascript">
    let artist1Name = "<%=artist1Name%>";
    let artist1Popularity = <%=artist1Popularity%>;
    let artist2Name = "<%=artist2Name%>";
    let artist2Popularity = <%=artist2Popularity%>;

    $(".artist-div").on("click", userVotes);

    function userVotes() {
      $(".artist-div").off("click");
      var artistIdClicked = $(this).attr("id");

      if (isDraw(artist1Popularity, artist2Popularity)) {
        $(".artist-div").css("background-color", "#00CC47");
        $("#intro-heading").attr("hidden", "");
        $("#draw-heading").removeAttr("hidden");
      } else {
        if (artist1Wins(artist1Popularity, artist2Popularity)) {
          if (artistIdClicked == "artist-div-artist1") {
            // User guessed correctly
            $("#artist-div-artist1").css("background-color", "#00CC47");
            $("#intro-heading").attr("hidden", "");
            $("#correct-result-heading").removeAttr("hidden");
          } else {
            // User guessed incorrectly
            $("#artist-div-artist2").css("background-color", "#CC0033");
            $("#intro-heading").attr("hidden", "");
            $("#incorrect-result-heading").removeAttr("hidden");
          }
        } else {
          if (artistIdClicked == "artist-div-artist2") {
            // User guessed correctly
            $("#artist-div-artist2").css("background-color", "#00CC47");
            $("#intro-heading").attr("hidden", "");
            $("#correct-result-heading").removeAttr("hidden");
          } else {
            // User guessed incorrectly
            $("#artist-div-artist1").css("background-color", "#CC0033");
            $("#intro-heading").attr("hidden", "");
            $("#incorrect-result-heading").removeAttr("hidden");
          }
        }
      }

      $("#artist-image-div-artist1").text(artist1Popularity);
      $("#artist-image-div-artist2").text(artist2Popularity);

      setTimeout(resetGame, 2000);
    }

    function isDraw(artist1Popularity, artist2Popularity) {
      return (artist1Popularity == artist2Popularity) ? true : false;
    }

    function artist1Wins(artist1Popularity, artist2Popularity) {
      return (artist1Popularity > artist2Popularity) ? true : false;
    }

    function resetGame() {
      location.reload();
    }
  </script>

</body>

</html>