<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Spotifymash</title>
</head>

<body>

  <div id="header">
    <h1><a href="/">Spotifymash</a></h1>
  </div>

  <div id="main">
    <h2>Who's more popular on Spotify?<br>Click to Choose.</h2>
    <div class="artist-div">
      <h2 class="artist-name"><%=artist1Name%></h2>
      <div class="artist-image-div" style="background-image: url(<%=artist1ImageUrl%>)"></div>
    </div>
    <div class="artist-div">
      <h2 class="artist-name"><%=artist2Name%></h2>
      <div class="artist-image-div" style="background-image: url(<%=artist2ImageUrl%>)"></div>
    </div>
  </div>

  <div id="footer">
    <!-- Footer will go here -->
  </div>

  <script type="text/javascript">
    let artist1Name = "<%=artist1Name%>";
    let artist1Popularity = <%=artist1Popularity%>;
    let artist2Name = "<%=artist2Name%>";
    let artist2Popularity = <%=artist2Popularity%>;

    console.log(artist1Name);

  </script>

</body>

</html>